<div *ngIf="doc">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of doc.items" (click)="goListChapter(item)">
      <a >
      {{item.title}}
    </a>
    </li>

  </ul>

  <div >
    <ul class="col-md-12 btn-group" style="list-style-type: none;">
      <li *ngIf="doc.prev.visible"  style="display:inline-block;">
        <a class="btn btn-default" (click)="getListDocs(doc.prev.link)">Preview</a>
      </li>
      <li *ngIf="doc.next.visible" class=" pull-right">
        <a class="btn btn-default" (click)="getListDocs(doc.next.link)">Next</a>
      </li>
    </ul>

  </div>
</div>
<div *ngIf="doc==null">
  Loading ...
</div>
